body {
    background-image: url(img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: cover;
}
.crafteos{
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
    .nav-link img {
        width: 40px; /* Ajusta el ancho del logo */
        height: 40px; /* Ajusta la altura del logo */
        object-fit: contain; /* Asegura que la imagen no se deforme */
        display: block;
        margin: 0 auto; /* Centra la imagen */
    }